<!DOCTYPE html>
<html>

<head>
  <title>My Rails App</title>
</head>

<body>
  <h2>Home Page</h2>
  <p>This would be a static home page in a Rails application.</p>
  <a href="/pages/hello">Hello</a>
  <br>
  <a href="/pages/goodbye">Goodbye</a>
</body>

</html>